Network_Smart_building/flows_raspberrypi.json
[{"id":"c2ee656f.b26fa8","type":"tab","label":"System Control","disabled":false,"info":""},{"id":"c347e6d7.444f28","type":"tab","label":"Room01","disabled":false,"info":""},{"id":"40ea0a0d.3737f4","type":"mqtt-broker","z":"","name":"RaspServer_Room01","broker":"172.26.24.250","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9df21bf2.366f78","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dcadfeb6.91daf","type":"ui_tab","z":"","name":"Room 01","icon":"dashboard","order":2},{"id":"adb800e8.bcb47","type":"ui_group","z":"","name":"Lamp","tab":"dcadfeb6.91daf","order":2,"disp":true,"width":"6","collapse":false},{"id":"8e770b36.f60728","type":"ui_group","z":"","name":"Sensor","tab":"dcadfeb6.91daf","order":1,"disp":true,"width":"6","collapse":false},{"id":"69f07925.0d448","type":"influxdb","z":"","hostname":"10.42.0.10","port":"8086","protocol":"http","database":"Smart_building","name":"Time serie Database","usetls":false,"tls":""},{"id":"8eee8c4b.b84e7","type":"ui_group","z":"","name":"Heater","tab":"dcadfeb6.91daf","order":3,"disp":true,"width":"6","collapse":false},{"id":"c22d7abf.d94ce","type":"ui_group","z":"","name":"Room 01","tab":"bde9fe55.d7a37","order":2,"disp":true,"width":"6","collapse":false},{"id":"bde9fe55.d7a37","type":"ui_tab","z":"","name":"System Monitor","icon":"dashboard","order":1},{"id":"bc25643a.724438","type":"ui_group","z":"","name":"Storage","tab":"bde9fe55.d7a37","order":1,"disp":true,"width":"6","collapse":false},{"id":"66715ac8.90e17c","type":"ui_switch","z":"c347e6d7.444f28","name":"","label":"switch","group":"adb800e8.bcb47","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":310,"y":1140,"wires":[["6f18d416.b0b3a4","a3fea21b.e2f7e"]]},{"id":"6de17829.e68018","type":"ui_gauge","z":"c347e6d7.444f28","name":"Humidity","group":"8e770b36.f60728","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1200,"y":200,"wires":[]},{"id":"84b335cc.d88818","type":"ui_chart","z":"c347e6d7.444f28","name":"Temperature","group":"8e770b36.f60728","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1210,"y":120,"wires":[[],[]]},{"id":"a3fea21b.e2f7e","type":"mqtt out","z":"c347e6d7.444f28","name":"","topic":"Room01/Lamp","qos":"1","retain":"","broker":"40ea0a0d.3737f4","x":500,"y":1160,"wires":[]},{"id":"6f18d416.b0b3a4","type":"debug","z":"c347e6d7.444f28","name":"lamp_switch debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":1100,"wires":[]},{"id":"5e2f3169.105df8","type":"function","z":"c347e6d7.444f28","name":"separate_DHT11_data()","func":"temperature = msg.payload.temperature;\nhumidity = msg.payload.humidity;\nmsg1 = {topic:\"Temperature\", payload: temperature};\nmsg2 = {topic:\"Humidity\", payload: humidity};\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":970,"y":160,"wires":[["84b335cc.d88818","4bf10e6e.3cf18"],["6de17829.e68018","5abd68d2.3d5a98"]]},{"id":"9de49b31.3d0cf","type":"json","z":"c347e6d7.444f28","name":"convert","property":"payload","action":"","pretty":false,"x":720,"y":160,"wires":[["5e2f3169.105df8"]]},{"id":"138d484f.942d78","type":"comment","z":"c347e6d7.444f28","name":"Processing data from Room01/DHT11","info":"This module receive message from Room01/DHT11 topic. \nConvert the string message into json format and devide this message into 2 small packets:temperature and humidity","x":910,"y":200,"wires":[]},{"id":"bf2b1188.257118","type":"comment","z":"c347e6d7.444f28","name":"Room01/Lamp Controller","info":"Control lamp in Room 01 using dashboard switch by sending 0/1 signal to Room01/Lamp topic","x":390,"y":1240,"wires":[]},{"id":"6446c201.041594","type":"comment","z":"c347e6d7.444f28","name":"Room01/Lamp_state ","info":"This module receive the state of the Lamp","x":1040,"y":400,"wires":[]},{"id":"c4901f2f.473a2","type":"influxdb out","z":"c347e6d7.444f28","influxdb":"69f07925.0d448","name":"","measurement":"Sensors","precision":"","retentionPolicy":"","x":1470,"y":80,"wires":[]},{"id":"60537770.f357a8","type":"mqtt out","z":"c347e6d7.444f28","name":"","topic":"Room01/Heater/Activated","qos":"1","retain":"","broker":"40ea0a0d.3737f4","x":1150,"y":1140,"wires":[]},{"id":"4cc424c4.c658d4","type":"ui_switch","z":"c347e6d7.444f28","name":"","label":"switch","group":"8eee8c4b.b84e7","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":910,"y":1140,"wires":[["60537770.f357a8"]]},{"id":"a3316580.88ab58","type":"ui_chart","z":"c347e6d7.444f28","name":"","group":"8eee8c4b.b84e7","order":2,"width":0,"height":0,"label":"Heater state","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":950,"y":460,"wires":[[],[]]},{"id":"853c8ca5.a3e748","type":"comment","z":"c347e6d7.444f28","name":"Heater_controller","info":"","x":1020,"y":1220,"wires":[]},{"id":"88f6dca.d6a8c2","type":"mqtt in","z":"c347e6d7.444f28","name":"","topic":"Room01/#","qos":"0","broker":"40ea0a0d.3737f4","x":100,"y":360,"wires":[["4d3a08ed.bf77a"]]},{"id":"4d3a08ed.bf77a","type":"switch","z":"c347e6d7.444f28","name":"Message_distributor","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Room01/DHT11","vt":"str"},{"t":"eq","v":"Room01/Lamp/Activated","vt":"str"},{"t":"eq","v":"Room01/Heater/State","vt":"str"},{"t":"eq","v":"Room01/Lamp","vt":"str"},{"t":"eq","v":"Room01/Heater/Activated","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":340,"y":360,"wires":[["9de49b31.3d0cf"],["455720e5.9537e","a1f3069.aeed9f8"],["a3316580.88ab58","4759ee21.3b9a88"],["5efc5d18.24324c"],["b2f42793.2a5a3"]]},{"id":"e3eadd06.583c58","type":"comment","z":"c347e6d7.444f28","name":"Subscriber Room01","info":"System_controller of the main server becomes a client and subscribe to all topic in Room01,\nThen it's redistribute the message to its functional module","x":90,"y":420,"wires":[]},{"id":"aeaee64e.c03058","type":"comment","z":"c347e6d7.444f28","name":"Heater_state","info":"This module receive the state of the heater","x":1050,"y":540,"wires":[]},{"id":"ca7ee192.382c9","type":"comment","z":"c347e6d7.444f28","name":"Controller Area","info":"","x":540,"y":1000,"wires":[]},{"id":"c01a2058.92a188","type":"comment","z":"c347e6d7.444f28","name":"Surveillance Area","info":"","x":610,"y":40,"wires":[]},{"id":"4bf10e6e.3cf18","type":"function","z":"c347e6d7.444f28","name":"database_sensor_write()","func":"mesurement = msg.payload;\nmsg.payload = [{value: mesurement}, \n               {location: \"Room01\", data: msg.topic}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":80,"wires":[["c4901f2f.473a2"]]},{"id":"a2d01171.c4a48","type":"influxdb out","z":"c347e6d7.444f28","influxdb":"69f07925.0d448","name":"","measurement":"Sensors","precision":"","retentionPolicy":"","x":1490,"y":240,"wires":[]},{"id":"5abd68d2.3d5a98","type":"function","z":"c347e6d7.444f28","name":"database_sensor_write()","func":"mesurement = msg.payload;\nmsg.payload = [{value: mesurement}, \n               {location: \"Room01\", data: msg.topic}];\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":240,"wires":[["a2d01171.c4a48"]]},{"id":"4662cb8d.1b81ec","type":"influxdb out","z":"c347e6d7.444f28","influxdb":"69f07925.0d448","name":"Time serie Database Device_state","measurement":"Devices","precision":"","retentionPolicy":"","x":1220,"y":500,"wires":[]},{"id":"4759ee21.3b9a88","type":"function","z":"c347e6d7.444f28","name":"database_heater_write()","func":"mesurement = msg.payload;\nmsg.payload = [{state: mesurement}, \n               {location: \"Room01\", device: \"Heater\"}];\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":500,"wires":[["4662cb8d.1b81ec"]]},{"id":"33331913.37050e","type":"influxdb out","z":"c347e6d7.444f28","influxdb":"69f07925.0d448","name":"Time serie Database Device_state","measurement":"Devices","precision":"","retentionPolicy":"","x":1160,"y":360,"wires":[]},{"id":"455720e5.9537e","type":"function","z":"c347e6d7.444f28","name":"database_lamp_write()","func":"mesurement = msg.payload;\nmsg.payload = [{state: mesurement}, \n               {location: \"Room01\", device: \"Lamp\"}];\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":360,"wires":[["33331913.37050e"]]},{"id":"a1f3069.aeed9f8","type":"ui_chart","z":"c347e6d7.444f28","name":"","group":"adb800e8.bcb47","order":0,"width":0,"height":0,"label":"Lamp state","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":320,"wires":[[],[]]},{"id":"a3030575.c6f4a8","type":"influxdb out","z":"c347e6d7.444f28","influxdb":"69f07925.0d448","name":"Time serie Database Comand history","measurement":"Commands","precision":"","retentionPolicy":"","x":1190,"y":640,"wires":[]},{"id":"5efc5d18.24324c","type":"function","z":"c347e6d7.444f28","name":"database_history_command()","func":"mesurement = msg.payload;\nmsg.payload = [{command: mesurement}, \n               {location: \"Room01\", device: \"Lamp\"}];\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":640,"wires":[["a3030575.c6f4a8"]]},{"id":"8601364c.485228","type":"influxdb out","z":"c347e6d7.444f28","influxdb":"69f07925.0d448","name":"Time serie Database Command history","measurement":"Commands","precision":"","retentionPolicy":"","x":1180,"y":740,"wires":[]},{"id":"b2f42793.2a5a3","type":"function","z":"c347e6d7.444f28","name":"database_history_command()","func":"mesurement = msg.payload;\nmsg.payload = [{command: mesurement}, \n               {location: \"Room01\", device: \"Heater\"}];\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":740,"wires":[["8601364c.485228"]]},{"id":"e21eeffe.31709","type":"comment","z":"c347e6d7.444f28","name":"Command history of Lamp","info":"","x":1050,"y":680,"wires":[]},{"id":"9141f750.764ea","type":"comment","z":"c347e6d7.444f28","name":"Command history of Heater","info":"","x":1060,"y":780,"wires":[]},{"id":"fcb72256.e86cc","type":"ping","z":"c2ee656f.b26fa8","name":"Room01_Server_connection_check","host":"172.26.24.250","timer":"20","x":240,"y":140,"wires":[["53a4d69d.27a44","59a1f628.598db8","988ff340.001298","3a250815.05758"]]},{"id":"53a4d69d.27a44","type":"function","z":"c2ee656f.b26fa8","name":"connection_notification()","func":"var state = context.get('state');\nif(msg.payload === false && state === 1)\n{\n    msg.topic = \"Disconnected\";\n    context.set('state', 0);\n    msg.payload = \"Can not connect to Room 01\";\n    return msg;\n}\nelse if(msg.payload !== false && state === 0)\n{\n     msg.topic = \"Connected\";\n    context.set('state', 1);\n    msg.payload = \"Connection established with Room 01\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["b12b9cc9.463518"]]},{"id":"b12b9cc9.463518","type":"ui_toast","z":"c2ee656f.b26fa8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Connection Notification","name":"Room01 Connection notification","x":910,"y":140,"wires":[[]]},{"id":"59a1f628.598db8","type":"ui_chart","z":"c2ee656f.b26fa8","name":"Room01_connection","group":"c22d7abf.d94ce","order":0,"width":0,"height":0,"label":"Round Trip Time","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"Room01 is offline","dot":true,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":600,"y":220,"wires":[[],[]]},{"id":"6fde2448.cf46cc","type":"influxdb out","z":"c2ee656f.b26fa8","influxdb":"69f07925.0d448","name":"","measurement":"Servers","precision":"","retentionPolicy":"","x":930,"y":40,"wires":[]},{"id":"988ff340.001298","type":"function","z":"c2ee656f.b26fa8","name":"Server_state_db()","func":"if(msg.payload == false)\n{\n    msg.payload = [{state: \"Off\"}, \n               {location: \"Room01\", ip: \"127.26.24.250\"}];\n}\nelse\n{\n    msg.payload = [{state: \"On\"}, \n               {location: \"Room01\", ip: \"127.26.24.250\"}];\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":40,"wires":[["6fde2448.cf46cc"]]},{"id":"3a250815.05758","type":"debug","z":"c2ee656f.b26fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":300,"wires":[]}]