LocalServer1/flows_raspberrypi.json
[{"id":"c2ee656f.b26fa8","type":"tab","label":"Room01 System Control","disabled":false,"info":""},{"id":"c347e6d7.444f28","type":"tab","label":"Room01_simulator","disabled":false,"info":""},{"id":"40ea0a0d.3737f4","type":"mqtt-broker","z":"","name":"RaspServer","broker":"172.26.24.250","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9df21bf2.366f78","type":"ui_base","z":0,"theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"dcadfeb6.91daf","type":"ui_tab","z":0,"name":"Room","icon":"dashboard","order":1},{"id":"adb800e8.bcb47","type":"ui_group","z":0,"name":"Lamp","tab":"dcadfeb6.91daf","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e770b36.f60728","type":"ui_group","z":0,"name":"Sensor","tab":"dcadfeb6.91daf","order":2,"disp":true,"width":"6","collapse":false},{"id":"69f07925.0d448","type":"influxdb","z":0,"hostname":"10.42.0.10","port":"8086","protocol":"http","database":"Temperature","name":"Temperature_db","usetls":false,"tls":""},{"id":"f32be17f.02a9f8","type":"ui_group","z":"","name":"Heater","tab":"dcadfeb6.91daf","disp":true,"width":"6","collapse":false},{"id":"b3c5d9f6.08e578","type":"mqtt in","z":"c2ee656f.b26fa8","name":"","topic":"Room01/DHT11","qos":"0","broker":"40ea0a0d.3737f4","x":218,"y":211,"wires":[["e683cc1b.618888"]]},{"id":"7077728d.b5aa74","type":"mqtt out","z":"c2ee656f.b26fa8","name":"","topic":"Room01/Lamp","qos":"1","retain":"","broker":"40ea0a0d.3737f4","x":1105,"y":790,"wires":[]},{"id":"ed90b8b.8907848","type":"debug","z":"c2ee656f.b26fa8","name":"lamp_switch debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1115,"y":710,"wires":[]},{"id":"8b69e72e.96bad8","type":"function","z":"c2ee656f.b26fa8","name":"separate_DHT11_data()","func":"temperature = msg.payload.temperature;\nhumidity = msg.payload.humidity;\nmsg1 = {topic:\"Temperature\", payload: temperature};\nmsg2 = {topic:\"Humidity\", payload: humidity};\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":788,"y":210,"wires":[["f62232e5.eae938","646da3e9.bb87cc"],["5e2611e8.559ef8","5cf32523.544bd4"]]},{"id":"e683cc1b.618888","type":"json","z":"c2ee656f.b26fa8","name":"convert","property":"payload","action":"","pretty":false,"x":498,"y":211,"wires":[["8b69e72e.96bad8"]]},{"id":"b4961369.cfcc08","type":"comment","z":"c2ee656f.b26fa8","name":"Processing data from Room01/DHT11","info":"receive message from Room01/DHT11 topic. Convert the string message into json format and devide this message into 2 small packets:temperature and humidity","x":468,"y":251,"wires":[]},{"id":"5b32e956.078358","type":"comment","z":"c2ee656f.b26fa8","name":"Room01/Lamp Controller","info":"Control lamp in Room 01 using dashboard switch by sending 0/1 signal to Room01/Lamp topic","x":873,"y":811,"wires":[]},{"id":"e8170a6c.e40448","type":"mqtt out","z":"c347e6d7.444f28","name":"","topic":"Room01/DHT11","qos":"0","retain":"false","broker":"40ea0a0d.3737f4","x":468,"y":209,"wires":[]},{"id":"ece23bc4.463038","type":"inject","z":"c347e6d7.444f28","name":"DHT11 Sensor","topic":"DHT11 ","payload":"{\"temperature\":20,\"humidity\":55}","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":"1","x":261,"y":166,"wires":[["e8170a6c.e40448","3603c833.e831a"]]},{"id":"3603c833.e831a","type":"debug","z":"c347e6d7.444f28","name":"DHT_debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":467,"y":111,"wires":[]},{"id":"aa632dc8.679108","type":"comment","z":"c347e6d7.444f28","name":"DHT11_simulator","info":"DHT11 sensor create data packet content room temperature and humidity every 30 seconds.\nThe packet is then sent to Room01/DHT11 topic","x":252,"y":212,"wires":[]},{"id":"41f194cb.11979c","type":"mqtt in","z":"c347e6d7.444f28","name":"","topic":"Room01/Lamp","qos":"1","broker":"40ea0a0d.3737f4","x":180,"y":500,"wires":[["c6d16604.8bd9e"]]},{"id":"4d3d8a09.41b66c","type":"mqtt out","z":"c347e6d7.444f28","name":"Lamp_state","topic":"Room01/Lamp/Activated","qos":"1","retain":"","broker":"40ea0a0d.3737f4","x":970,"y":460,"wires":[]},{"id":"e5f0c954.16c048","type":"inject","z":"c347e6d7.444f28","name":"Motion_sensor","topic":"Motion","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":420,"wires":[["c6d16604.8bd9e"]]},{"id":"a37c8b77.4e8c4","type":"trigger","z":"c347e6d7.444f28","op1":"1","op2":"0","op1type":"num","op2type":"num","duration":"5","extend":true,"units":"s","reset":"","bytopic":"all","name":"","x":560,"y":380,"wires":[["4d3d8a09.41b66c","e4546ac9.7ce4"]]},{"id":"c6d16604.8bd9e","type":"function","z":"c347e6d7.444f28","name":"Lamp_switch()","func":"var state = context.get('state') ||0;\nif(msg.topic == \"Room01/Lamp\")\n{\n    if(msg.payload == \"1\")      //lamp activated\n    {\n        state = 1;\n        context.set('state',state);\n        msg.payload = 1;\n    }\n    else\n    {\n        state = 0;              //lamp deactivated\n        context.set('state', state);\n        msg.payload = 0;\n    }\n}\nelse   //Motion detected\n{\n    if(state == 1)              //only availble when lamp is activated\n    {\n        msg.payload = 1;\n    }\n    else\n    {\n        msg.payload = 0;\n    }\n}\nmsg.topic = \"Room01/Lamp/Activated\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":460,"wires":[["1f86352d.0abcb3"]]},{"id":"e4546ac9.7ce4","type":"debug","z":"c347e6d7.444f28","name":"Motion_debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":980,"y":380,"wires":[]},{"id":"1f86352d.0abcb3","type":"switch","z":"c347e6d7.444f28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":460,"wires":[["a37c8b77.4e8c4"],["4d3d8a09.41b66c","e4546ac9.7ce4"]]},{"id":"97711ef9.6b8e48","type":"comment","z":"c347e6d7.444f28","name":"Lamp_simulator","info":"If lamp is activated by System Controller, when motion is detected it trigger and event to turn on the lamp.\nIf the lamp is desactivated by System controller, no event could trigger the lamp.","x":480,"y":520,"wires":[]},{"id":"ecca2d0f.46646","type":"mqtt in","z":"c2ee656f.b26fa8","name":"","topic":"Room01/Lamp/Activated","qos":"1","broker":"40ea0a0d.3737f4","x":234,"y":365,"wires":[["608913f0.bfe32c"]]},{"id":"371411a7.76f926","type":"comment","z":"c2ee656f.b26fa8","name":"Room01/Lamp_state ","info":"","x":413,"y":408,"wires":[]},{"id":"ca51ddb7.2591d","type":"ui_switch","z":"c2ee656f.b26fa8","name":"","label":"switch","group":"adb800e8.bcb47","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":795,"y":750,"wires":[["ed90b8b.8907848","7077728d.b5aa74"]]},{"id":"5e2611e8.559ef8","type":"ui_gauge","z":"c2ee656f.b26fa8","name":"Humidity","group":"8e770b36.f60728","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1145,"y":238,"wires":[]},{"id":"f62232e5.eae938","type":"ui_chart","z":"c2ee656f.b26fa8","name":"Temperature","group":"8e770b36.f60728","order":0,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1143,"y":179,"wires":[[],[]]},{"id":"646da3e9.bb87cc","type":"debug","z":"c2ee656f.b26fa8","name":"Temperature_debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1143.5,"y":109,"wires":[]},{"id":"5cf32523.544bd4","type":"debug","z":"c2ee656f.b26fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1120.5,"y":285,"wires":[]},{"id":"22890ade.f0fa16","type":"ui_switch","z":"c2ee656f.b26fa8","name":"","label":"switch","group":"f32be17f.02a9f8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":155,"y":736,"wires":[["3e16760b.170212"]]},{"id":"3e16760b.170212","type":"mqtt out","z":"c2ee656f.b26fa8","name":"","topic":"Room01/Heater/Activated","qos":"1","retain":"","broker":"40ea0a0d.3737f4","x":544.5,"y":738,"wires":[]},{"id":"83fd8292.c47d9","type":"mqtt in","z":"c2ee656f.b26fa8","name":"","topic":"Room01/Heater/State","qos":"0","broker":"40ea0a0d.3737f4","x":243.5,"y":487,"wires":[["2072a71a.03b888"]]},{"id":"2072a71a.03b888","type":"ui_chart","z":"c2ee656f.b26fa8","name":"","group":"f32be17f.02a9f8","order":2,"width":0,"height":0,"label":"Heater state","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":487.5,"y":487,"wires":[[],[]]},{"id":"ed3bbb9a.a6d1b","type":"comment","z":"c2ee656f.b26fa8","name":"Heater controller","info":"","x":312.5,"y":832,"wires":[]},{"id":"e653c02c.ab992","type":"comment","z":"c2ee656f.b26fa8","name":"Surveillance area","info":"","x":637.5,"y":38,"wires":[]},{"id":"655f623f.3d9e24","type":"comment","z":"c2ee656f.b26fa8","name":"Controller area","info":"","x":687.5,"y":642,"wires":[]},{"id":"a7d23d57.0546","type":"comment","z":"c2ee656f.b26fa8","name":"Room01/Heater state","info":"","x":430.5,"y":523,"wires":[]},{"id":"608913f0.bfe32c","type":"ui_chart","z":"c2ee656f.b26fa8","name":"","group":"adb800e8.bcb47","order":0,"width":0,"height":0,"label":"Lamp state","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":483.5,"y":365,"wires":[[],[]]}]